.switch-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  clip: rect(0px, 60px, 35px, 0px);
}

.slider-round {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  &::before {
    content: "C";
    position: absolute;
    left: -18px;
    top: 6px;
    font-size: 0.8em;
    color: #b8b8b8;
  }
  &::after {
    color: #b8b8b8;
    font-size: 0.8em;
    content: "F";
    position: absolute;
    top: 6px;
    right: -18px;
  }
}

input:checked + .slider > .slider-round {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider-text {
  color: #777777;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 0.8em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
